.block {
    background: #2a0030;
    border-radius: 12px;
    margin: 20px 0;
    color: #fff;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.block,
.splitBlock,
.pickTeamBlock {
    position: relative;
    height: auto;
}

.blockImage {
    position: absolute;
    bottom: 0;
    left: 0;
    width: clamp(50px, 18vw, 70px);
    left: -11px;
    height: auto;
    pointer-events: none;
}

.blockHeader {
    background: linear-gradient(90deg, #00ff94, #00e5ff);
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 8px 12px;
    font-size: 1rem;

    width: 98%;
    max-width: calc(100% - 16px);
    margin: 0 auto;
    border-radius: 0 0 12px 12px;
}

.blockContent {
    padding: 20px;
    text-align: center;
}

.blockColumns2 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: stretch;
    text-align: center;
}

.blockColumns2>div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.splitBlock {
    display: grid;
    grid-template-columns: 1fr;
    background: #2a0030;
    border-radius: 12px;
    margin: 20px 0;
    overflow: hidden;
    color: #fff;
    box-sizing: border-box;
}

.splitItem {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.splitHeader {
    background: linear-gradient(90deg, #00ff94, #00e5ff);
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 8px 12px;
    font-size: 1rem;

    width: 90%;
    max-width: calc(100% - 24px);
    margin: 0 auto;
    border-radius: 0 0 12px 12px;
}

.splitItem:first-child .splitHeader,
.splitItem:last-child .splitHeader {
    background: linear-gradient(90deg, #00ff94, #00e5ff);
}

.splitContent {
    padding: 20px;
    font-size: 1.2rem;
}

.splitItem:not(:last-child) {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.splitItem:not(:last-child)::after {
    display: none;
}

.pointsBlock {
    width: 100%;
    background-color: #2c0032;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.pointsBlockHeader {
    font-size: 100%;
    font-weight: 400;
    margin-bottom: 10px;
}

.pointsBlockValue {
    font-size: 150%;
    font-weight: 600;
    color: cyan;
}

.pickTeamBlock {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    margin: 20px 0;
    color: #000;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.pickTeamBlockHeader {
    background: #2c0032;
    color: cyan;
    font-weight: bold;
    text-align: center;
    padding: 8px 12px;
    font-size: 1rem;
    width: 90%;
    margin: 0 auto;
    border-radius: 0 0 12px 12px;
}

.pickTeamBlockValue {
    font-size: 150%;
    font-weight: 600;
    color: black;
    margin-top: 12px;
}

@media (min-width: 768px) {

    .blockColumns2 {
        grid-template-columns: 1fr 1fr;
    }

    .splitBlock {
        grid-template-columns: 1fr 1fr;
    }

    .splitItem:not(:last-child) {
        border-bottom: none;
    }

    .splitItem:not(:last-child)::after {
        display: block;
        content: "";
        position: absolute;
        top: 20px;
        bottom: 20px;
        right: 0;
        width: 1px;
        background: rgba(255, 255, 255, 0.2);
    }

    .pointsBlock {
        width: 150px;
    }
}