.closedWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 70vh;
    text-align: center;
    color: #333;
}

.closedWindow .message {
    font-size: 1.1rem;
    margin-top: 10px;
    color: #666;
}

.scoutButton {
    margin-top: 20px;
    background: linear-gradient(90deg, #9b2fff 0%, #00eaff 100%);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.scoutButton:hover {
    transform: scale(1.03);
    opacity: 0.9;
}