/* .draftRoom {
    padding: 20px;
}

.title {
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #555;
}

.switchButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
} */