.header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #9b2fff 0%, #00eaff 100%);
    color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
}

.topSection {
    position: relative;
    padding: 0 20px;
    height: 90px;
    display: flex;
    align-items: center;
}

.topBar {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 10px;
}

.pattern {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    object-fit: contain;
    z-index: 1;
    pointer-events: none;
}

.navBar {
    background: rgba(0, 0, 0, 0.25);
    padding: 4px 16px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}