.collage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0;
}

.collage img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .collage {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        height: 300px;
    }

    .collage img {
        height: 100%;
    }
}