.collage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin: 0;
}

.collage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}