.navbar {
    display: flex;
    gap: 14px;
    padding: 0;
}

.navLink {
    font-family: "Segoe UI", Arial, sans-serif;
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 10px;
}

.navLink::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 0;
    height: 5px;
    background: white;
    border-radius: 5px 5px 0 0;
    transition: all 0.1s ease;
    transform: translateX(-50%);
}

.navLink:hover::after {
    width: 100%;
}

.activeLink {
    font-weight: 700;
}

.activeLink::after {
    width: 100%;
}