.pageLayout {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    align-items: start;
}


.leftColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rightColumn {
    padding: 16px;
}