.pitchWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 800px;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    gap: 20px;
}

.pitch {
    width: 1300px;
    height: 100%;
}

.topArea {
    width: 100%;
    padding: 20px 0;
    position: relative;
    background: linear-gradient(90deg, cyan 0%, deepskyblue 40%, blueviolet 100%);
    border-radius: 10px;
    overflow: hidden;
}

.pattern {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: auto;
    object-fit: contain;
    z-index: 0;
    pointer-events: none;
}

.fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    pointer-events: none;
}



.block {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.viewButtons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.switchBtn {
    margin: 0 5px;
}