.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin: 6px;
    text-align: center;
    transition: transform 0.15s ease, opacity 0.15s ease;
    cursor: pointer;
}

.kit {
    width: 60%;
    height: auto;
    margin-bottom: 8px;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.25));
    position: relative;
}


.name {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #37003c;
    padding: 2px 0;
    border-radius: 3px 3px 0 0;
    margin-bottom: 0;
    letter-spacing: 0.3px;
    width: 130%;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 600;
    color: #111;
    background: linear-gradient(90deg, #00ffbf, #00e5ff);
    padding: 2px 6px;
    border-radius: 0 0 3px 3px;
    width: 130%;
    min-height: 18px;
}

.gw {
    color: #111;
    font-weight: 800;
    border-radius: 4px;
    font-size: 11px;
}

.points {
    color: black;
    font-weight: 700;
    font-size: 13px;
}