.scoutPage {
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 900px;
    min-height: 100vh;
}


.title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
}