.statusSidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

@media (min-width: 1200px) {
    .statusSidebar {
        width: 140%;
    }
}