.statusPage {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gradientText {
    background: linear-gradient(90deg,
            #00ff94 0%,
            #00ff94 45%,
            #00e5ff 55%,
            #00e5ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 50px;
}