.switcherContainer {
    display: flex;
    background-color: #f1f4fb;
    border-radius: 5px;
    padding: 4px;
    width: fit-content;
    margin: 0 auto;
}

.switcherButton {
    flex: 1;
    padding: 6px 30px;
    border: none;
    background: transparent;
    font-weight: 600;
    color: #2c014d;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
}

.active {
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}