.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3000;
}

.modal {
    background: #00c6ff;
    background: #953dd9;
    color: #fff;
    border-radius: 14px;
    width: 90%;
    max-width: 950px;
    padding: 24px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}


h3 {
    font-size: 1.2rem;
    margin-bottom: 12px;
}

.subtitle {
    margin-top: 20px;
    font-size: 1.1rem;
    color: #ddd;
}

.section {
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
}

.table th {
    text-align: left;
    background: rgba(255, 255, 255, 0.05);
    color: #bfbfbf;
    padding: 8px 10px;
}

.table td {
    padding: 10px 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.playerCell {
    display: flex;
    align-items: center;
    gap: 10px;
}

.kit {
    width: 24px;
    height: 24px;
}

.green {
    color: #00ff90;
}

.replaceBtn {
    background: linear-gradient(to right, #00ffcc, #00bfff);
    /* background: #953dd9; */
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.replaceBtn:hover {
    filter: brightness(1.15);
}

.cancelBtnSmall {
    background: #444;
    color: #eee;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
}

.closeBtn {
    margin-top: 16px;
    background: #444;
    border: none;
    color: #eee;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 500;
}

.closeBtn:hover {
    background: #555;
}


.player-shirt {
    width: 40px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
    transition: transform 0.2s ease;
}

.player-shirt:hover {
    transform: scale(1.05);
}

.playerCell {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.playerCell span {
    font-size: 0.95rem;
}